* {
  text-align: center;
}

body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

form {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80vw;
  /* height: 60vh; */
  min-height: 60vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table {
  width: 900px;
  height: 100%;
}

.table-wrapper {
  width: 60%;
  /* height: 60%; */
  overflow-x: auto;
  /* overflow-y: auto; */
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th:nth-child(n + 2) {
  width: 120px;
  min-width: 120px;
  text-align: left;
  border-left: 2px solid black;
}

.th {
  width: 120px;
  min-width: 120px;
}

.td {
  width: 120px;
  min-width: 120px;
  border: 1px solid black;
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
}

.input {
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button {
  background-color: white;
  border: 2px solid blue;
  color: blue;

  padding: 10px 20px;
  border-radius: 7px;

  font-size: 16px;
  transition: 0.2s;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
  cursor: pointer;
  background-color: blue;
  color: #fff;
}

.search-button {
  background-color: white;
  border: 2px solid seagreen;
  color: seagreen;

  border-radius: 7px;

  font-size: 16px;
  transition: 0.2s;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-button:hover {
  cursor: pointer;
  background-color: seagreen;
  color: white;
}

.back-button {
  background-color: white;
  border: 2px solid #f44336;
  color: #f44336;

  padding: 10px 20px;
  border-radius: 7px;

  font-size: 16px;
  transition: 0.2s;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  cursor: pointer;
  background-color: #f44336;
  color: white;
}

.available {
  background-color: #4caf50;
  border: 1px solid black;
}

.unavailable {
  background-color: #d32f2f;
  border: 1px solid black;
}

.timeWrapper {
  width: 100%;
  /* display: flex; */
}

.table-wrapper * {
  /* border: 1px solid black; */
}

.hour,
.minute {
  width: 30%;
}

.change-button {
}
.cancel-button {
}

#reservation-table {
  border-collapse: collapse;
  overflow: scroll;
}

tr:hover td:first-child{
  background-color: #a8a8a8;
}

td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
}