.table-wrapper {
  width: 80%;
  height: 50vh;

  background-color: white;

  border: 1px solid black;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.table-row:nth-child(n):hover td[id^='table-']:nth-child(n) {
  background-color: #a8a8a8;
}

.table-row {
  display: flex;

  width: 100%;
}

.table-row > * {
  flex-grow: 1;

  width: 80px;
  height: 30px;

  border: 1px solid black;
}

.available {
  background-color: #4caf50;
}

.unavailable {
  background-color: #d32f2f;
}

.reservation-table-head {
  display: flex;
  position: sticky;

  width: 100%;

  border-collapse: collapse;
}

.reservation-table-header {
  flex-grow: 1;

  width: 80px;
  height: 30px;

  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
}

.reservation-table-header:first-child {
  border-left: 0;
}

.reservation-table-header:last-child {
  border-right: 0;
}

#reservation-list,
.reservation-instance {
  display: flex;

  width: 100%;
}

.reservation-information {
  flex-grow: 1;

  width: 80px;

  border: 1px solid black;
}
